.container .title {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 1rem 0;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 2.5rem;
}

.movie-card {
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #292929;
    padding: 1rem;
    row-gap: 1rem; 
    transition: all .5s;
}

.movie-card > img {
    max-width: 100%;
    border-radius: 4px;
}

.movie-card a {
    background-color: var(--primary-color);
    color: #fcfcfc;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    padding: 1rem 0.5rem;
    text-align: center;
    font-weight: bold;
    transition: all 0.5s;
}

.movie-card a:hover {
    background-color: #fcfcfc;
    color: var(--primary-color);
}

.movie-card:hover {
    transform: scale(1.05);
}