.escondida {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    font-weight: bolder;
    visibility: hidden;
}